.my-header {
  background-color: #20315a;
  color: white;
}

.main-panel {
  background-color: rgb(215, 237, 238);
padding-bottom: 5%;

}
.row-top{
background-color: lightgray;

}
.bottom-panel {
  padding: 0%;
}

.left-panel {
  background-color: lightskyblue;
}

.custom-label {
  font-size: 150%;
  font-weight: bold;
  margin-left: 5%;
}

.input-field {
  margin: 0% 0% 10% 0%;
  padding-bottom: 2%;
  font-weight: bold;
}

.search-box {
    flex: 1 1 auto;
    padding-top: 5%;

}


.btn-font{
    font-size: 85%;
}


ul{
  list-style-type: none;
}

.bottom-panel-lft{
  background-color: rgb(26, 90, 154);
  margin: 1%;
  margin-left: 4%;
}



.bottom-panel-2{

  background-color: rgb(26, 90, 154);
  margin: 1%;

}


.bottom-panel-1{
  background-color: rgb(54, 104, 155);
  color: white;
margin: 0.5%;
padding: 1% 0% 1% 0%;
text-align: center;

 }


.forecast-margin{
  margin-top: 2%;
margin-left: 6%;
font-size: 100%;

}

.centered{
  text-align: center;
}